.element__image {
  width: 282px;
  height: 282px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

@media all and (max-width: 894px) {
  .element__image {
    margin-right: auto;
    margin-left: auto;
  }
}
