.profile__avatar-hover {
  width: 127px;
  height: 127px;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url(../../../images/Pen.svg);
  background-position: center;
  position: absolute;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 0;
}

.profile__avatar-hover:hover {
  z-index: 1;
}