.popup__close-button {
  background-image: url(../../../images/cross.svg);
  width: 32px;
  height: 32px;
  margin-bottom: 8px;
  margin-left: 480px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  border: 0;
  padding: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media all and (max-width: 600px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    margin-top: 16px;
    margin-left: 260px;
  }
}
