.element__trash {
  background-image: url(../../../images/Trash.svg);
  width: 18px;
  height: 19px;
  border: 0;
  transition: opacity 0.3s ease;
  background-color: transparent;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 20px;
  right: 20px;
}

.element__trash:hover {
  opacity: 0.6;
}

@media all and (max-width: 894px) {
  .element__trash {
    right: 90px;
  }
}

@media all and (max-width: 825px) {
  .element__trash {
    right: 70px;
  }
}

@media all and (max-width: 755px) {
  .element__trash {
    right: 50px;
  }
}

@media all and (max-width: 650px) {
  .element__trash {
    right: 30px;
  }
}

@media all and (max-width: 600px) {
  .element__trash {
    right: 160px;
  }
}

@media all and (max-width: 525px) {
  .element__trash {
    right: 120px;
  }
}

@media all and (max-width: 440px) {
  .element__trash {
    right: 80px;
  }
}

@media all and (max-width: 360px) {
  .element__trash {
    right: 50px;
  }
}

@media all and (max-width: 335px) {
  .element__trash {
    right: 30px;
  }
}